:root {
    --background: #080808;
    --background-rgb: 8, 8, 8;
    --container: #fafafa;
    --body-color: #f5f5f5;
    --error: #fb4141;
    --color-shamrock-50: #eafff6;
    --color-shamrock-100: #cdfee8;
    --color-shamrock-200: #a0fad6;
    --color-shamrock-300: #63f2c1;
    --color-shamrock-400: #25e2a8;
    --color-shamrock-500: #00dfa2;
    --color-shamrock-600: #00a477;
    --color-shamrock-700: #008364;
    --color-shamrock-800: #006750;
    --color-shamrock-900: #005543;
    --color-shamrock-950: #003027;
}

* {
    color: var(--background);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 64px;
    background-color: var(--body-color);
}

div, span, section, main {
    transition: 160ms ease-out;
}

main {
    flex-direction: row;
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
    }
}

.container {
    background-color: var(--container);
    box-shadow: 0 8px 16px rgba(var(--background-rgb), 0.2);
}

.container-head {
    background-color: var(--color-shamrock-500);
}

.container-head p {
    color: var(--container);
}

.main-container {
    width: 80vw;
}

.button-container {
    width: 25%;
}

.button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
    .button-container {
        width: 100%;
    }

    .main-container {
        width: 100%;
    }

    .button-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* maksimal 4 kolom */
        gap: 10px;
    }
}

.btn {
    background-color: var(--color-shamrock-500);
    color: var(--container);
    transition: background-color 160ms ease-out;
    border: 1.6px solid var(--color-shamrock-500);
}

.btn:hover {
    background-color: var(--color-shamrock-400);
    border-color: var(--color-shamrock-400);
}

.btn.active {
    background-color: var(--container);
    color: var(--color-shamrock-500);
    border-color: var(--color-shamrock-400);
}

.option-btn {
    background-color: var(--color-shamrock-500);
    color: var(--container);
    transition: background-color 160ms ease-out;
    border: 1.6px solid var(--color-shamrock-500);
    width: 36px;
    padding: 2px 0px;
    border-radius: 4px;
    font-size: 10pt;
    cursor: pointer;
}

.option-btn.active {
    background-color: var(--container);
    color: var(--color-shamrock-500);
    border-color: var(--color-shamrock-400);
}

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip {
    background-color: rgba(var(--background-rgb), 0.75);
    color: var(--container);
    transition: opacity 320ms ease-out;
}

.error-message {
    background-color: var(--container);
    color: var(--error);
    border: 1.6px solid var(--error);
}

.action-dot {
    border: 1.6px solid var(--container);
}
